.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.flex-1{
    flex: 1;
}

.btn{
    padding:  0.5rem 2rem;
    border-color: transparent;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-size: 1rem;
    transition:all.3s ease;  
    font-weight: 600;
}
.btn-primary{
    background-color: var(--primary);
    
    
}
.btn-primary:hover{
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-secondary{
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary:hover{
    background-color: var(--primary);
    color: var(--dark);
}